.register{
    position: absolute;
    top: 72px;
    left: 182px;
    background-color: rgb(247, 223, 223);
}
.button{
    position: absolute;
    right: 50px;
}
.icon{
    height: 200px;
    width: 200px;
    border-radius: 50;
}