<div class="icon">
    <img src="../assets/icon.jpg">
</div>
<img src="../assets/barber.jpg" class="image" height="630px" width="790px">
<div class="login">
    <form class="login-form">

        <h4 class='footer'><b>Change your Password</b></h4>
        &nbsp;
        <input class="input" formControlName="email" placeholder="Change Password">
        <br> <br>
        <input class="input" formControlName="password" placeholder="Confirm Password" />
        <br><br>
        <div class="remember">
            
        </div><br>
        <button class="button" (click)="change()">Change</button>
        <br><br>
<h3 class="footer"><a routerLink="/login">Back to Login</a></h3>
        <br><br><br><br><br><br><br>
        <h5 class="footer">@ 2021<b> Barber</b>.All Right Reserved</h5>

    </form>
</div>