.login{
    height: 420px;
    width: 300px; 
    position: absolute;
    top: 180px;
    margin-left: 68%;
    right: 25px;
  }
  .word{
    font-size: 9.5px;
  }
  .icon{
   margin-left: 790px;  
  }
  .image{
      position: absolute;
      top: 0px
  }
  .footer{
      text-align: center ;
  }
  .forgot{
    color: rgb(62, 62, 241);
    text-decoration: underline;
    text-align: right;
  }
  .remember{
    width: 50%;
    float: left;
  }
  .register{
    text-decoration: underline;
    color: rgb(14, 12, 12);
  }
  .input{
    height: 24px;
    width: 300px;
  }
  .button{
    height: 25px;
    width: 300px;
    background-color: rgb(66, 66, 253);
    justify-content: center;
  }
  .container{
    position: absolute;
  }

