<div class="settings">
           <mat-card-title>Settings</mat-card-title>
<mat-card class='box'>
        <mat-form-field appearance="fill">
            <mat-label>Business Name*</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Business Email*</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Business Address*</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <h2>Preference</h2>
        <mat-form-field appearance="fill">
            <mat-label>Change Language*</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Change Time Zone*</mat-label>
            <input matInput>
        </mat-form-field>
        <br>   
        <h2>Change Password</h2>
        <mat-form-field appearance="fill">
            <mat-label>Old Password*</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>New Password*</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirm Password*</mat-label>
            <input matInput>
        </mat-form-field>
        <br><br>
        <button mat-raised-button color="primary">Save</button>
    </mat-card>

</div>
