<div class="container">
<div class="toolbar">
  <img src="../../assets/icon.jpg" height="65px" width="130px" class="image">
  <button class="notification">
    <span class="material-icons">
      notifications
    </span> </button>
</div>
<div class="menu">
  <mat-sidenav-container>
    <mat-sidenav-content class="menu">
      <button class="btn">
        <a mat-list-item routerLink="/" >
          <span class="material-icons">dashboard_customize</span>DashBoards</a></button>
      <button class="btn">
        <a mat-list-item routerLink="/revenue" >
          <span class="material-icons">article</span>Revenue</a>
      </button>
      <button class="btn">
        <a mat-list-item routerLink="/register">
          <span class="material-icons">people</span>Users </a>
      </button>
      <button class="btn">
        <a mat-list-item routerLink="/appointments">
          <span class="material-icons">reorder</span>Appointments</a>
      </button>
      <button class="btn">
        <a mat-list-item routerLink="/categories">
          <span class="material-icons">category</span>Categories</a>
      </button>
      <button class="btn">
        <a mat-list-item routerLink="/settings">
          <span class="material-icons">settings</span>Settings</a>
      </button>
      <button class="btn">
        <a mat-list-item routerLink="/logout">
          <mat-icon><span class="material-icons">logout</span></mat-icon> Logout
        </a>
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <router-outlet></router-outlet>
</div>
</div>