 .active{
    font-weight: bold;
}

.notification{
position: absolute;
right: 120px;
color: #333333;
 background: #dddddd;
text-align:center;
height: 40px;
width: 40px;
border-radius: 50%;
border-color: black;
}
.toolbar{
width: 1225px;
height: 70px;
background: rgb(68, 68, 247);
}
.image{
    position: absolute;
    left: 20px;
}
.menu{
    height: 550px;
    width: 180px;
    background-color: #ddd;
    justify-content: center;
    text-decoration: none;
    
}
.btn{
    width: 180px;
   text-align: left;

}
a{ text-decoration: none;}
.active {
    background-color: #bfec91;  
  }
  
  .inactive {
    background-color: #e08686;
  }
.container{
    position: absolute;
    top: 0;
    left: 0;
}




