 .active{
    font-weight: bold;
}

.notification{
position: absolute;
right: 120px;
color: #333333;
 background: #dddddd;
text-align:center;
height: 40px;
width: 40px;
border-radius: 50%;
border-color: black;
}





